<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Cadastro de Materiais</h4>
                        <p class="category">selecione a categoria do material</p>
                    </div>
                    <div class="content content-full-width">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a data-toggle="tab" href="#icon-info" aria-expanded="true" value="1" ><i class="fa fa-info"></i> Permanente</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#icon-account" aria-expanded="false" value="2"><i class="fa fa-user"></i> Provisório</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="icon-info">
                                <div class="content">
                                    <form #f="ngForm" (ngSubmit)="adicionarPermanente(f)">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Material</label>
                                                    <input type="text" class="form-control" name="nome" [(ngModel)]="material.nome" >
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Tombo</label>
                                                    <input type="text" class="form-control" name="tombo" [(ngModel)]="material.tombo" >
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="unidade">Unidade</label>
                                                <select class="form-control" id="564" [(ngModel)]="material.fkcategoria.idcategoria" name="fkcategoria">
                                                        <option *ngFor="let c of categorias" value={{c?.idcategoria}} >{{c?.descricao}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Quantidade</label>
                                                    <input type="number" class="form-control" name="quantidade" [(ngModel)]="material.quantidade" >
                                                </div>
                                            </div>
                                        </div>          
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="564">Localização</label>
                                                <select class="form-control" id="564" [(ngModel)]="material.fksetor.idsetor" name="fksetor">
                                                        <option *ngFor="let s of setor" value={{s?.idsetor}}>{{s?.descricao}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Cadastrar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>   
                            </div>
                            <div class="tab-pane" id="icon-account">
                                <div class="content">
                                    <form #f="ngForm" (ngSubmit)="adicionarProvisorio(f)">
                                            <div class="row">
                                                <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Material</label>
                                                    <input type="text" class="form-control" name="material" [(ngModel)] ="material.nome">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Validade</label>
                                                    <input type="text" class="form-control" placeholder="" nome="validade"[(ngModel)]="material.validade" >
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="exampleFormControlSelect1">Unidade</label>
                                                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="material.fkcategoria.idcategoria" name="fkcategoria">
                                                   <option *ngFor="let c of categorias" value={{c?.idcategoria}}>{{c?.descricao}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Quantidade</label>
                                                    <input type="text" class="form-control" name="quantidade" [(ngModel)]="material.quantidade">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="exampleFormControlSelect1">Localização</label>
                                                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="material.fksetor.idsetor" name="fksetor">
                                                    <option *ngFor="let s of setor" value={{s?.idsetor}}>{{s?.descricao}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Cadastrar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
