<div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Cadastro de Solicitacões</h4>
                        </div>
                        <div class="content content-full-width">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active" role="presentation" name="aba">
                                    <a data-toggle="tab" href="#icon-info" aria-expanded="true" value="1"><i class="fa fa-info"></i>Formulário de Solicitações</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="icon-info">
                                    <div class="content">
                                        <form #f="ngForm" (ngSubmit)="adicionarPer(f)">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="col-md-10 control-label">Selecione o Tipo de Material</label>
                                                    <br/>
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="checkbox13" type="checkbox">
                                                        
                                                    </div>
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="checkbox15" type="checkbox">
                                                        <label for="checkbox15">
                                                            Permanente
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="checkbox16" type="checkbox">
                                                        <label for="checkbox16">
                                                            Provisório
                                                        </label>
                                                    </div>  
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label>Material</label>
                                                        <input type="text" class="form-control" name="material" [(ngModel)] = "material.nome">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Quantidade</label>
                                                        <input type="number" class="form-control" name="quantidade" [(ngModel)]="material.quantidade" >
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Unidade</label>
                                                        <select class="form-control" id="564" [(ngModel)]="material.fkcategoria.idcategoria"  name="fkcategoria">
                                                            <option *ngFor="let c of categorias" value="{{c?.idcategoria}}">{{c?.descricao}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-social btn-danger btn-simple pull-left" style="padding-top: 35px" name="fktipo"><i class="fa fa-plus"></i>add</button>
                                                        <div class="clearfix"></div>
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="564">Destino</label>
                                                    <select class="form-control" id="564" name="destino" [(ngModel)]="material.fksetor.idsetor" name="fksetor">
                                                            <option *ngFor="let s of setor" value={{s?.idsetor}}>{{s?.descricao}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </form>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="card">
                            <div class="content text-center">
                                <h5>Basic example</h5>
                                <button class="btn btn-default btn-fill">Try me!</button>
                            </div>
                        </div>
                    </div>

                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            <img  alt="..." src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&amp;fm=jpg&amp;h=300&amp;q=75&amp;w=400">
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img  alt="..." class="avatar border-gray" src="assets/img/faces/face-3.jpg">
    
                                    <h4 class="title">Mike Andrew<br >
                                        <small >michael24</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> CDES <br >
                                 EStágiário <br >
                                Central de Desenvolvimento de Sistemas
                            </p>
                        </div>
                        <hr >
                        <div class="text-center">
                            <button class="btn btn-simple" href="#"><i  class="fa fa-facebook-square"></i></button>
                            <button class="btn btn-simple" href="#"><i  class="fa fa-twitter"></i></button>
                            <button class="btn btn-simple" href="#"><i  class="fa fa-google-plus-square"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                                <h6><p class="category">Lista de Materiais</p></h6>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">Destino</th>
                                        <th class="text-center">Material</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center"></td>
                                        <td class="td-actions text-center">
                                            <a class="btn btn-info btn-simple btn-xs" rel="tooltip" title="" data-original-title="View Profile">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title="" data-original-title="Edit Profile">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="" data-original-title="Remove">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    