<div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Cadastro de Solicitacões</h4>
                            <p class="category">formulário de solicitacoes</p>
                        </div>
                        <div class="content content-full-width">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active" role="presentation">
                                    <a data-toggle="tab" href="#icon-info" aria-expanded="true" value="1" ><i class="fa fa-info"></i> Permanente</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#icon-account" aria-expanded="false" value="2"><i class="fa fa-user"></i> Provisório</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="icon-info">
                                    <div class="content">
                                        <form #f="ngForm" (ngSubmit)="adicionar(f)">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Usuário</label>
                                                        <input type="text" disabled class="form-control" name="usuario">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                <div class="col-md-3">
                                                    <label for="unidade">Data</label>
                                                    <input class="form-control" id="unidade" name="unidade">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="564">Destino</label>
                                                    <select class="form-control" id="564" name="destino" disabled >
                                                        <option disabled></option>
                                                    </select>
                                                </div>
                                            </div>    
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Material</label>
                                                        <input type="text" class="form-control" name="material" [(ngModel)] = "material.nome">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Quantidade</label>
                                                        <input type="number" class="form-control" name="quantidade" [(ngModel)]="material.quantidade" >
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Unidade</label>
                                                        <select class="form-control" id="564" [(ngModel)]="material.fkcategoria.idcategoria"  name="fkcategoria">
                                                            <option *ngFor="let c of categorias" value="{{c?.idcategoria}}">{{c?.descricao}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> 
                                            <button type="submit" class="btn btn-danger btn-fill pull-right">Adicionar</button>
                                            <div class="clearfix"></div>          
                                        </form>
                                    </div>   
                                    
                                </div>
                                <div class="tab-pane" id="icon-account">
                                    <div class="content">
                                        <form #f="ngForm"  >
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Material</label>
                                                        <input type="text" class="form-control" name="nome" value="{{material.nome}}" [(ngModel)] = "material.nome" >
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Validade</label>
                                                        <input type="text" class="form-control" placeholder="" nome="validade" >
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="exampleFormControlSelect1">Unidade</label>
                                                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="material.fkcategoria" name="fkcategoria">
                                                        <option *ngFor="let c of categorias" value={{c?.idcategoria}}>{{c?.descricao}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Quantidade</label>
                                                        <input type="text" class="form-control" name="quantidade">
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="exampleFormControlSelect1">Localização</label>
                                                    <select class="form-control" id="exampleFormControlSelect1" name="destino">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Cadastrar Informações</button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Nome</th>
                                                <th class="text-center">Destino</th>
                                                <th class="text-center">Material</th>
                                                <th class="text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!----><tr>
                                                <td class="text-center"></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center"></td>
                                                <td class="td-actions text-center">
                                                    <a class="btn btn-info btn-simple btn-xs" rel="tooltip" title="" data-original-title="View Profile">
                                                        <i class="fa fa-user"></i>
                                                    </a>
                                                    <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title="" data-original-title="Edit Profile">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="" data-original-title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-md-4">
                    <div  class="card">
                        <div  class="header">
                            <h4  class="title">Tasks</h4>
                            <p  class="category">Backend development</p>
                        </div>
                        <div  class="content">
                            <div  class="table-full-width">
                                <table  class="table">
                                    <tbody >
                                        <tr >
                                            <td >
                                                <div  class="checkbox">
                                                    <input id="checkbox1" type="checkbox">
                                                    <label  for="checkbox1">
    
                                                    </label>
                                                </div>
                                            </td>
                                            <td >Sign contract for "What are conference organizers afraid of?"</td>
                                            <td  class="td-actions text-right">
                                                <button  class="btn btn-info btn-simple btn-xs" rel="tooltip" title="Edit Task" type="button">
                                                    <i  class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="Remove" type="button">
                                                    <i  class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td >
                                                <div  class="checkbox">
                                                    <input  checked="" id="checkbox2" type="checkbox">
                                                    <label  for="checkbox2">
    
                                                    </label>
                                                </div>
                                            </td>
                                            <td >Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td  class="td-actions text-right">
                                                <button  class="btn btn-info btn-simple btn-xs" rel="tooltip" title="Edit Task" type="button">
                                                    <i  class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="Remove" type="button">
                                                    <i  class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td >
                                                <div  class="checkbox">
                                                    <input  checked="" id="checkbox3" type="checkbox">
                                                    <label  for="checkbox3">
    
                                                    </label>
                                                </div>
                                            </td>
                                            <td >Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                            </td>
                                            <td  class="td-actions text-right">
                                                <button  class="btn btn-info btn-simple btn-xs" rel="tooltip" title="Edit Task" type="button">
                                                    <i  class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="Remove" type="button">
                                                    <i  class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td >
                                                <div  class="checkbox">
                                                    <input  id="checkbox4" type="checkbox">
                                                    <label  for="checkbox4">
    
                                                    </label>
                                                </div>
                                            </td>
                                            <td >Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td  class="td-actions text-right">
                                                <button  class="btn btn-info btn-simple btn-xs" rel="tooltip" title="Edit Task" type="button">
                                                    <i  class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="Remove" type="button">
                                                    <i  class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td >
                                                <div  class="checkbox">
                                                    <input  id="checkbox5" type="checkbox">
                                                    <label  for="checkbox5">
    
                                                    </label>
                                                </div>
                                            </td>
                                            <td >Read "Following makes Medium better"</td>
                                            <td  class="td-actions text-right">
                                                <button  class="btn btn-info btn-simple btn-xs" rel="tooltip" title="Edit Task" type="button">
                                                    <i  class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="Remove" type="button">
                                                    <i  class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td >
                                                <div  class="checkbox">
                                                    <input  id="checkbox6" type="checkbox">
                                                    <label  for="checkbox6">
    
                                                    </label>
                                                </div>
                                            </td>
                                            <td >Unfollow 5 enemies from twitter</td>
                                            <td  class="td-actions text-right">
                                                <button  class="btn btn-info btn-simple btn-xs" rel="tooltip" title="Edit Task" type="button">
                                                    <i  class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="Remove" type="button">
                                                    <i  class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div  class="footer">
                                <hr >
                                <div  class="stats">
                                    <i  class="fa fa-history"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    